/* ---------------------------------------------------------
 Baseスタイル
--------------------------------------------------------- */
html{
	//position: relative;
	min-height: 100%;
	@if $_output-file == edit {
		font-size: map-get($_font-size, lg) + px;
	}
}
html{
	font-size: map-get($_font-size, sm) + px;
	@include _mq-up(md){
		font-size: map-get($_font-size, md) + px;
	}
	@include _mq-up(lg){
		position: relative;
		min-height: 100%;
		font-size: map-get($_font-size, lg) + px;
	}
	@include _mq-up(xl){
		font-size: map-get($_font-size, lg) + px;
	}
	@if $_output-file == edit {
		font-size: map-get($_font-size, lg) + px;
	}
}
body{
	min-height: 100%;
	-webkit-print-color-adjust: exact; //印刷時に背景色も印刷(Chromeのみ)
	font-family: $_font-family--gothic;
	font-weight: normal;
	color: $_color-text;
	line-height: $_line-height;
	word-wrap : break-word;
	overflow-wrap : break-word;
	@if $_output-file == edit {
		min-height: 0;
		margin-bottom: 0;
		padding: 10px;
		background: none;
		font-size: map-get($_font-size, lg) + px;
		color: $_color-text;
	}
}
.l-container {
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1.0;
	font-weight: normal;
	font-size: 1.0rem;
}
p {
	margin: 0;
}
img{
	vertical-align: bottom; //イメージに余白が出てしまうのを防止
	max-width:100%;
	height: auto;
}
li {
	list-style: none;
}
ol {
	padding-left: 1.1rem;
	text-indent: -1.1rem;
	> li {
		list-style-position: inside;
		list-style-type: decimal;
		+li {
			//margin-top: 0.3rem;
		}
	}
}
table {
	border-collapse:collapse;
	border-spacing: 0;
}
a {
	color: $_color-link;
	text-decoration: underline;
	&:hover{
		color: $_color-link--hover;
		text-decoration: none;
		cursor: pointer;
	}
}

.telLink > a { //スマホ用
	text-decoration: none;
}

// PCだけ改行
.br-pc:before {
	content: "\A" ;
	white-space: pre ;
}
//スマホだけ表示
.view-sp {
	display: none;
}

@include _mq-down(sm) {
	//PCだけ改行
	.br-pc:before {
		content: "" ;
		white-space: pre ;
	}
	//スマホだけ改行
	.br-sp:before {
		content: "\A" ;
		white-space: pre ;
	}
	//PCだけ表示
	.view-pc {
		display: none;
	}
	//スマホだけ表示
	.view-sp {
		display: block;
	}
}
