/* ---------------------------------------------------------
project - child page list
--------------------------------------------------------- */

//サムネイル表示のリスト
//----------------------------------------
.p-child_pages__container_thumb .p-child_pages__list{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include _mq-down(lg) {
		justify-content: space-around;
	}
	> li {
		margin-bottom: 10px;
		border: 1px solid #d6d6d6;
		@include _mq-down(lg) {
		}
		&.is-active{
			display: none;
		}
	}
	a{
		display: block;
		width: 230px;
		// height: 160px;
		padding: 10px 10px 0;
		background:#fff;
		color: #665744;
		text-decoration: none;
		&:hover {
			background: #b7b2a8;
			color: #fff;
		}
		.thumb {
			width: 210px;
			height: 110px;
			background-size: cover;
			background-position: center center;
		}
		.title {
			padding: 11px 0;
			font-weight: bold;
			line-height: 1.4;
			text-align: center;
		}
	}
}

// サムネイル非表示のリスト
// ----------------------------------------
//  .p-child_pages__container_text  {}

// .p-child_pages__list{
// 	list-style: none;
// 	display: flex;
// 	flex-wrap: wrap;
// 	margin-bottom: 60px;
// 	@include _mq-down(lg) {
// 		justify-content: space-around;
// 	}
// 	@include _mq-down(sm) {
// 	}
// 	> li {
// 		width: 310px;
// 		margin-right: 15px;
// 		margin-bottom: 15px;
// 		@include _font-size--rem(14);
// 		line-height: 1.25;
// 		&:nth-of-type(3n) {
// 			margin-right: 0;
// 		}
// 		@include _mq-down(lg) {
// 			width: 49%;
// 			margin-right: 0;
// 		}
// 		@include _mq-down(sm) {
// 			width: 100%;
// 			margin-bottom: 10px;
// 		}
// 		&.is-active{
// 			display: none;
// 		}
// 	}
// 	a {
// 		display: block;
// 		width: 100%;
// 		padding: 15px 20px;
// 		background:#fffcf9;
// 		border: 1px solid #ccc;
// 		text-decoration: none;
// 		color: #676f7e;
// 		&::before {
// 			content: "\f18e";
// 			font-family: FontAwesome;
// 		}
// 		&:hover {
// 			background:#f4f7f9;
// 			color: #0051ad;
// 		}
// 	}
// }