/* ---------------------------------------------------------
project - seminar
--------------------------------------------------------- */

// シングルページ
// --------------------
.p-seminar_single__alert{
	margin-bottom: 3em;
	padding: 0.5rem 1rem;
	border: 1px solid #ee6b98;
	font-weight: bold;
	text-align: center;
	color: #ee3a89;
}
//レポート
.p-seminar_report{
	margin-bottom: 2rem;
	padding: 1.5rem;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2)
}
.p-seminar_detail__date{}
.p-seminar_detail__time{
	.p-seminar_detail__date + &{
		margin-left: 0.5rem;
	}
}
.p-seminar_entry_btn_wrap {
	font-weight: bold;
}
.p-seminar_entry_btn{
	display: block;
	margin-top: 2.5rem;
	padding: 0.75em 1em;
	@include sgradient( $from: top, $colors: ( (#f0428e, 0%), (#ed1e79, 100%) ) );
	border-radius: 6px;
	@include _font-size--rem(20);
	line-height: 1;
	text-decoration: none !important;
	color: #fff !important;
	text-align: center;
	&::before{
		content: "\f138";
		font-family: FontAwesome;
		line-height: 1;
		margin-right: 5px;
	}
	&:hover{
		opacity: 0.7;
	}
}
.p-seminar_single {
	.c-table_base {
		margin-bottom: 1.5rem;
		line-height: 1.6 !important;
		ul > li {
			line-height: 1.6 !important;
		}
		.telLink {
			color: #ed1c24;
		}
	}
}
.p-link_external {
	&::after{
		content: "\f08e";
		font-family: FontAwesome;
	}
}

// アーカイブページ
// --------------------
.p-seminar_archivelist{
	padding-right: 1rem;
	padding-left: 1rem;
	@include _mq-up(lg){
		padding-right: 0;
		padding-left: 0;
	}
	>li{
		border-bottom: 1px dotted #ccc;
	}
	a{
		display: flex;
		align-items: flex-start;
		text-decoration: none;
		@include _mq-down(sm){
			display: block;
		}
		&::before{
			display: inline-block;
			margin-top: 0.2em;
			margin-right: 1rem;
			width: 5em;
			padding: 0.4em;
			@include sgradient( $from: top, $colors: ( (#ccc, 0%), (#aaa, 100%) ) );
			border-radius: 3px;
			@include _font-size--rem(12);
			text-align: center;
			line-height: 1;
			color: #fff;
			@include _mq-down(sm){
				margin-right: 0;
				margin-bottom: 0.5rem;
			}
		}
		&.is-ok::before{
			content: "受付中";
			@include sgradient( $from: top, $colors: ( (#f78dc0, 0%), (#ee3a89, 100%) ) );
		}
		&.is-before::before{
			content: "準備中";
		}
		&.is-end::before{
			content: "受付終了";
		}
	}
	&.is-later{
		margin-bottom: 3rem;
		a{
			padding-top: 1.625rem;
			padding-bottom: 1.625rem;
		}
	}
	&.is-old{
		a{
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 0.5rem;
		}
	}
}
//カテゴリページ
// .p-seminar_archivelist__term{
// 	text-decoration: none;
// 	color: $_color-text;
// 	&::before{
// 		content: "【";
// 	}
// 	&::after{
// 		content: "】";
// 	}
// 	span + span{
// 		&::before{
// 			content: " ";
// 		}
// 	}
// 	a:hover &{
// 		color: $_color-link--hover;
// 	}
// }

//タイトル
.p-seminar_archivelist__info {
}
.p-seminar_archivelist__title {
	margin-bottom: 0.2rem;
	line-height: 1.4;
	text-decoration: underline;
	.is-later &{
		@include _font-size--rem(18);
	}
	a:hover &{
		cursor: pointer;
		color: #d4145a;
		text-decoration: none;
	}
}
//日付
.p-seminar_archivelist__date{
	color: #333;
	@include _font-size--rem(14);
	line-height: 1.3;
}