/* ---------------------------------------------------------
project - contact
--------------------------------------------------------- */
.p-contact_tel_box {
	margin: 1.0rem 0 3.0rem;
	padding: 1.2rem 2.2rem;
	background:#ffffe8;
	text-align: center;
	line-height: 1.0;
	.tel {
		margin-bottom: .6rem;
		@include _font-size--rem(28);
		color: #d4145a;
		font-weight: bold;
		> a { //スマホ用
			color: #d4145a;
			text-decoration: none;
		}
		&::before {
			content: "\f095";
			font-family: FontAwesome;
			margin-right: .3rem;
		}
	}
	.hour {
		@include _font-size--rem(18);
		color: #d4145a;
	}
}