/* ---------------------------------------------------------
project - about
--------------------------------------------------------- */
//共通（バナー）
.p-about_banner {
	display: block;
	margin-top: 100px;
	&:hover {
		opacity: 0.7;
	}
}

.before_simulation, .test_simulation{
	display: flex;
	justify-content: space-between;
}
.before_simulation__text, .test_simulation__text{
	text-align: center;
}