/* ---------------------------------------------------------
project - blog
--------------------------------------------------------- */

/* 共通（トップページ含む）
--------------------------------------------------------- */
.l-page_blog {
	.l-main {
	}
}
.p-blog_note {
	display: flex;
	margin-bottom: 0.8rem;
	.date {
		margin-right: 1.2rem;
		@include _font-size--rem(14);
		color: #666;
		line-height:1.3;
	}
	.category {
		font-size: 0; //子要素のdisplay:inline-blockの空白を消すため
		> span {
			display: inline-block;
			width: 75px;
			background:#f39f45;
			@include _font-size--rem(14);
			color: #fff;
			font-feature-settings: "palt";
			text-align: center;
			line-height:1.3;
			&.cate_news {
				background:#3fa9f5;
			}
			&.cate_column {
				background:#33c7c2;
			}
		}
	}
}

/* アーカイブページ
--------------------------------------------------------- */
.p-blog_archive_list {
	li {
		display: flex;
		padding: 1.0rem .6rem;
		border-bottom: 1px solid #ccc;
		&:first-child {
			border-top: 1px solid #ccc;
		}
		@include _mq-down(md) {
		}
	}
}
.p-blog_archive_list_thumb {
	display: block;
	width: 150px;
	height: 100px;
	margin-right: 1.2rem;
	background-size: cover;
	background-position: center center;
	@include _mq-down(md) {
	}
}
.p-blog_archive_list_info {
	flex: 1;
	font-size: 0; //子要素のdisplay:inline-blockの空白を消すため
	.title {
		display: block;
		margin-bottom: 0.7rem;
		@include _font-size--rem(16);
		text-decoration: none;
		line-height: 1.4;
		@include _mq-down(md) {
			line-height: 1.25;
		}
	}
	.text {
		@include _font-size--rem(14);
	}
}

/* シングルページ
--------------------------------------------------------- */
.p-blog_single_box {
	.p-blog_note {
		margin-bottom: 2.0rem;
	}
	.contents {
		padding-bottom: 6.5rem;
	}
}

/* サイドバー（全ページ共通/最新5件）
--------------------------------------------------------- */
// .p-side_navi_blog {
// 	background: #f5f5f5;
// 	li {
// 		display: flex;
// 		padding: 15px;
// 		border-bottom: 1px solid #fff;
// 		&:last-of-type {
// 			border-bottom: 0;
// 		}
// 		.thumb {
// 			display: block;
// 			width: 60px;
// 			height: 60px;
// 			margin-right: 10px;
// 			background-position: center center;
// 			background-size: cover;
// 		}
// 		.info {
// 			flex: 1;
// 			font-size: 0;
// 			.title {
// 				display: block;
// 				@include _font-size--rem(14);
// 				color: #333;
// 			}
// 		}
// 	}
// }