/* ---------------------------------------------------------
project - トップページ
--------------------------------------------------------- */

/* コンテンツ全体
--------------------------------------------------------- */
.p-home_contents{
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	padding: 0;
	@include _mq-down(lg) {
	}
	@include _mq-down(md) {
	}
	img{
		@include _mq-down(lg){
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}
}

/* メイン画像
--------------------------------------------------------- */


/* コンテンツ
--------------------------------------------------------- */
.p-home_main{
	@include _mq-down(sm){
	}
	> div {
		@include _mq-up(sm){
			position: relative;
		}
	}
	img{
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

//メイン画像
.p-home_mainimg {
	background: #f2f2f2;
	.inner {
		@include _wrapper();
	}
	.band {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 0.9rem;
		background-color: rgba(0,0,0,0.7);
		@include _font-size--rem(28);
		color: #ff0;
		font-weight: bold;
		text-align: center;
		@include _mq-down(sm) {
			position: static;
			padding: 0.5rem;
			background-color: rgba(0,0,0,0.8);
			@include _font-size--rem(22);
		}
	}
}

//Wallstatのご紹介
.p-home_intro {
	margin: 1.0rem 0;
	@include _mq-down(md) {
		margin: 1.5rem 0;
		padding: 0 1.0rem;
	}
	.inner {
		text-align: center;
		font-weight: bold;
	}
	.text1 {
		margin-bottom: 0.4rem;
		@include _font-size--rem(20);
	}
	.text2 {
		@include _font-size--rem(24);
		@include _mq-down(md) {
			@include _font-size--rem(20);
		}
	}
	.text3 {
		@include _font-size--rem(32);
	}
	.text4 {
		margin-bottom: 1.5rem;
		@include _font-size--rem(24);
		color: #ee3a89;
		@include _mq-down(md) {
			@include _font-size--rem(20);
		}
	}
	.text5 {
		margin-bottom: 1.0rem;
		@include _font-size--rem(26);
		@include _mq-down(md) {
			@include _font-size--rem(22);
		}
		> span {
			color: #ed1c24;
		}
	}
	.text6 {
		@include _font-size--rem(22);
		@include _mq-down(md) {
			@include _font-size--rem(20);
			line-height: 1.4;
		}
		> span {
			color: #ed1c24;
		}
	}
}
.c-youtube_container_large {
	width: 820px;
	height: 459px;
	margin: 0 auto 2.0rem;
	@include _mq_down(lg) {
		position: relative;
		width: 100% !important;
		height: 100% !important;
		padding-top: 56.0%;
	}
	iframe{
		width: 100%;
		height: 100%;
		@include _mq_down(lg) {
			position: absolute;
			top: 0;
			right: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
}

//こんな方におすすめ
.p-home_simulation {
	margin-bottom: 1.5rem;
	padding: 2.0rem 0 1.5rem;
	background:#f7f4db;
	font-weight: bold;
	@include _mq-down(md) {
		padding: 1.5rem 1.0rem;
	}
	.inner {
		@include _wrapper();
	}
	.title {
		margin-bottom:1.0rem;
		@include _font-size--rem(22);
		color: #ee3a89;
		text-align: center;
		@include _mq-down(md) {
			display: block;
			line-height:1.4;
		}
	}
	.c-mulch_box {
		justify-content: center;
		align-items: center;
		margin: 0 auto 0.5rem;
		.c-mulch_img {
			margin-right: 2.0rem;
			img {
				margin-bottom: 0;
			}
		}
	}
	.note {
		padding: 0.35rem;
		background: #333;
		@include _font-size--rem(18);
		color: #ffff00;
		text-align: center;
	}
}
.p-home_simulation_list {
	li {
		margin: 0.4rem 0;
		@include _font-size--rem(26);
		@include _mq-down(md) {
			margin: 0.2rem 0;
			@include _font-size--rem(22);
		}
		&::before{
			content: "\f046";
			font-family: FontAwesome;
			margin-right: 0.8rem;
			font-size: 100%;
			color: #ee3a89;
			@include _mq-down(md) {
				margin-right: 0.4rem;
			}
		}
	}
}

//Wallstatって何？
.p-home_about {
	margin-top: 1.5rem;
	padding: 0 0.5rem;
	@include _font-size--rem(18);
	@include _mq-down(md) {
		padding: 0 1.0rem;
	}
	.inner {
		@include _wrapper();
	}
	.title {
		margin-bottom: 1.5rem;
		@include _font-size--rem(22);
		font-weight: bold;
		text-align: center;
	}
	.c-mulch_img_left {
		margin-right: 2.0rem;
	}
}
.p-home_about_linkbox {
	display: flex;
	margin-top: 1.0rem;
	@include _mq-down(md) {
		flex-direction: column;
	}
	.banner {
		display: flex;
		margin-right: 1.0rem;
		padding: 0 3.5rem;
		align-items: center;
		@include sgradient( $from: top, $colors: ( (#333, 0%), (#000, 100%) ) );
		color: #ff0;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		@include _mq-down(md) {
			display: block;
			margin: 0 auto .5rem;
			padding: .8rem 1.0rem;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	.text {
		flex: 1;
		@include _mq-down(md) {
			display: flex;
			justify-content: center;
			p:first-child {
				margin-right: 1.5rem;
			}
		}
	}
}

//セミナー・イベント
.p-home_seminar {
	margin-top: 2.5rem;
	background:#eaffff;
	.title {
		padding: 0.25rem;
		background:#0071bc;
		color: #fff;
		@include _font-size--rem(26);
		font-weight: bold;
		text-align: center;
		@include _mq-down(md) {
			@include _font-size--rem(22);
			line-height: 1.4;
		}
	}
	.inner {
		@include _wrapper();
		max-width: 865px;
		padding: 1.5rem;
	}
	.c-mulch_box {
		align-items: center;
	}
	.c-mulch_img {
		margin-right: 0;
		> img {
			margin-bottom: 0;
		}
	}
}
.p-home_seminar_box {
	padding: 0 2.0rem;
	@include _font-size--rem(18);
	line-height: 1.5;
}
.p-home_seminar_box_title {
	display: block;
	margin-bottom: 0.5rem;
	@include _font-size--rem(26);
	font-weight: bold;
	text-decoration: none;
}

//耐震シミュレーションお申込み
.p-home_entry {
	margin-top: 2.5rem;
	.inner {
		@include _wrapper();
	}
	.title {
		@include _font-size--rem(26);
		font-weight: bold;
		text-align: center;
		@include _mq-down(md) {
			padding: .5rem;
			@include _font-size--rem(22);
			line-height: 1.4;
		}
	}
	.c-mulch_box {
		padding: .65rem;
		background: #ffe1f2;
		.c-mulch_img_left {
			margin-right: 1.6rem;
			img {
				margin-bottom: 0;
			}
		}
		.baloon {
			margin: 1.0rem 0 .6rem;
		}
		.c-mulch_img_cols {
			> img {
				margin-bottom: .6rem;
			}
		}
		a {
			display: block;
			@include _font-size--rem(14);
			text-align: center;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			img {
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}

//耐震ニュース&コラム
.p-home_blog {
	background: #f7f4db;
	margin-top: 1.6rem;
	padding: 1.2rem 0 1.5rem;
	@include _mq-down(lg) {
		padding: 1.0rem .5rem;
	}
	.inner {
		@include _wrapper();
	}
}
.p-blog_home_title {
	display: flex;
	justify-content: center;
	align-items: center;
	@include _font-size--rem(24);
	font-weight: bold;
	text-align: center;
	&::before{
		display: block;
		margin-right: 1.0rem;
		content: url(../images/p-blog_home_title_icon.png);
	}
}
.p-blog_home_list {
	display: flex;
	justify-content: space-between;
	@include _mq-down(lg) {
		justify-content: space-around;
	}
	@include _mq-down(md) {
		flex-direction: column;
	}
	li {
		width: 236px;
		background:#fff;
		border: 1px solid #b3b3b3;
		@include _mq-down(lg) {
			flex: 1;
			width: auto;
			margin-right: .2rem;
			padding: .5rem;
			&:last-child {
				margin-right: 0;
			}
		}
		@include _mq-down(md) {
			display: flex;
			margin-bottom: .3rem;
		}
	}
	.p-blog_thumb {
		display: block;
		width: 234px;
		height: 156px;
		background-size: cover;
		background-position: center center;
		@include _mq-down(lg) {
			width: 100%;
			height: 140px;
		}
		@include _mq-down(md) {
			width: 80px;
			height: 80px;
		}
	}
	.p-blog_info {
		padding: .7rem;
		@include _mq-down(lg) {
			padding: .5rem 0 0;
		}
		@include _mq-down(md) {
			flex: 1;
			padding: .7rem;
		}
		.p-blog_note {
			margin-bottom: .4rem;
		}
		.title {
			display: block;
			@include _font-size--rem(14);
			line-height: 1.4;
			text-decoration: none;
		}
	}
}