/* ---------------------------------------------------------
project - site common
--------------------------------------------------------- */
// ---------------------------------------------------------------
// サイト全体で使用する汎用アイテム
// ---------------------------------------------------------------

//ボタン
.p-linkbth {
	text-align:center;
	a {
		display: block;
		padding: 15px 50px;
		border-radius: 8px;
		background-color: #ed1e79;
		background: -webkit-linear-gradient(top, #f0428e 0%, #ed1e79 100%);
		background: linear-gradient(to bottom, #f0428e 0%, #ed1e79 100%);
		font-size: 1.25rem;
		color: #fff;
		font-weight: bold;
		line-height: 1.0;
		letter-spacing: 2px;
		cursor: pointer;
		text-decoration: none;
		&:hover {
			opacity: 0.5;
		}
	}
}

//アーカイブページにデータがない場合
.p-nodata {
	margin-top: 1.0rem;
	margin-bottom: 5.0rem;
	padding-left: .3rem;
}

//シングルページフッターリンク
.p-single_footer {
	@include _font-size--rem(16);
	@include _mq-down(sm){
	}
}
.p-single_footer_link{
	display: flex;
	justify-content: center;
	padding: 1.25rem .3rem;
	border-top: 1px dotted #ccc;
	line-height: 1.0;
	.go_archive {
		border-right: 1px solid #666;
		border-left: 1px solid #666;
	}
	a {
		padding-right: .5rem;
		padding-left: .5rem;
		color: #666;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		@include _mq-down(sm){
			padding: .2rem .6rem;
		}
	}
}

//固定ページフッターリンク
.p-page_footer {
	text-align: center;
	@include _font-size--rem(14);
	.link {
		a {
			display: inline-block;
			margin: 0 1.0rem;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}