/* ---------------------------------------------------------
project - text-styles
--------------------------------------------------------- */
//キャッチコピー
.p-catchcopy {
	margin-bottom: 2.0rem;
	@include _font-size--rem(30);
	line-height: 1.6;
	font-weight: bold;
	@include _mq-down(sm){
		@include _font-size--rem(24);
	}
}

//見出し2
.p-h2 {
	margin-bottom: 1.2rem;
	padding-bottom: .5rem;
	border-bottom: 2px solid #ee6b98;
	color: #ee3a89;
	@include _font-size--rem(22);
	font-weight: bold;
	line-height: 1.25;
	@include _mq-down(sm){
	}
}

// 見出し2の下のテキスト
.p-h2_indent {
	padding-left: .3rem;
	@include _mq-down(sm) {
	}
}

//見出し3
.p-h3 {
	position: relative;
	margin-left: 5px;
	margin-bottom: 1.4rem;
	padding: .3rem;
	@include _font-size--rem(20);
	font-weight: bold;
	line-height: 1.35;
	background: url(#{$_img_path}h3_icon.png) 0 0 repeat-y;
	@include _mq-down(sm){
		@include _font-size--rem(18);
	}
}

// 見出し3の下のテキスト
.p-h3_indent {
	padding-left: .6rem;
	@include _mq-down(sm) {
	}
}

//見出し4
.p-h4 {
	margin-bottom: 1.0rem;
	padding-left: .6rem;
	color: #0071bc;
	@include _font-size--rem(18);
	line-height: 1.35;
	@include _mq-down(sm) {
		@include _font-size--rem(16);
	}
}
// 見出し4の下のテキスト
.p-h4_indent {
	padding-left: .6rem;
	@include _mq-down(sm) {
	}
}

//強調
.p-em {
	font-weight: bold;
	color: #ed1c24;
}
//太字
.p-bold {
	font-weight: bold;
}
