/* ---------------------------------------------------------
project - thumbpon
--------------------------------------------------------- */
// ---------------------------------------------------------------
// WPプラグインのサムネでぽんっのスタイル
// ---------------------------------------------------------------

.thumbpon_item{
	display: block;
}
.thumbpon_item__img{
	display: block;
	margin-bottom: 5px;
}
.thumbpon_item__title{
	display: block;
}