/* ---------------------------------------------------------
project - wp wdit button
--------------------------------------------------------- */
// ---------------------------------------------------------------
// トップページのパーツ下に表示される編集画面へのリンクボタン
// ---------------------------------------------------------------
.p-editlink{
	display:none;
	@include _mq_up(md) {
		display: block;
		position: absolute;
		bottom: 3px;
		right: 3px;
		@include _font-size--rem(12);
		line-height: 1.1;
		z-index: 9999;
	}
	a{
		display:block;
		padding: 5px 0;
		width: 100px;
		background: #000;
		color: #fff !important;
		text-align: center;
		text-decoration: none;
		opacity: 0.3;
		&:hover{
			opacity: 1;
			text-decoration: none;
		}
	}
}
