/* ---------------------------------------------------------
project - contactform7
--------------------------------------------------------- */
// ---------------------------------------------------------------
// WPプラグインのContactform7用のスタイル
//
// <<注意点>>
// ※同階層にある「_wp-mwwpform」ファイルとの重複は不可
// ---------------------------------------------------------------

// フォーム全体
// --------------------
.p-contactform_container{
	max-width:100%;
	margin-top: .5rem;
	padding-left: 1.0rem;
	@include _mq-down(sm){
		padding-left: 0;
	}
	input[type=text],
	input[type=tel],
	input[type=email]{
		width: 100%;
		max-width:100%;
		padding: 3px 5px;
		// background-color: #f5f5f5;
		border: 1px solid #d3d3d3;
		box-sizing: border-box;
		overflow: hidden;
		&:focus{
			background-color: #eee;
		}
		&.wpcf7-not-valid{ //未入力の必須項目
			border: 1px solid #e00;
		}
	}
	textarea{
		width: 100%;
		height: 100px;
		padding: 3px 5px;
		// background-color: #f5f5f5;
		border: 1px solid #d3d3d3;
		box-sizing:border-box;
		overflow: hidden;
		&:focus{
			background-color: #f8f5f5;
		}
		&.wpcf7-not-valid{
			border: 1px solid #e00;
		}
	}
	//ラジオボタンカスタマイズ
	// input[type="radio"] {
	// 	position: relative;
	// 	-webkit-appearance: button;
	// 	appearance: button;
	// 	box-sizing: border-box;
	// 	width: 1rem;
	// 	height: 1rem;
	// 	content: "";
	// 	background-color: #fff;
	// 	border: 1px solid #999;
	// 	border-radius: 50%;
	// 	box-shadow: inset 4px 4px 10px rgba(0,0,0,0.2);
	// 	vertical-align: middle;
	// 	cursor: pointer;
	// 	&:checked:after {
	// 		content: "";
	// 		display: block;
	// 		position: absolute;
	// 		top: 0; right:0; bottom: 0; left: 0;
	// 		width: 0.5rem;
	// 		height: 0.5rem;
	// 		margin: auto;
	// 		@include sgradient( $from: top left, $colors: ( (#444, 0%), (#777, 100%) ) );
	// 		border-radius: 50%;
	// 	}
	// }
	//チェックボックスカスタマイズ
	.wpcf7-list-item {
	}
	span.wpcf7-not-valid-tip{
		margin-top: 2px;
		@include _font-size--rem(12);
		color: #e00;
	}
	tbody th, tbody td{
		padding: .8rem 1.0rem;
		@include _mq-down(sm){
			padding: .6rem;
		}
	}
	tbody th {
		white-space: normal;
		@include _mq-up(sm){
			width: 30%;
		}
	}
}
.wpcf7-list-item {
	.your-request & {
		display: block;
		margin-left: 0;
	}
	.your-hour1 &,.your-hour2 & {
		margin-left: 0.5rem;
		&.first {
			margin-left: 1.0rem;
		}
	}
}
//共通のプレースホルダーのスタイル
input::placeholder {
    color: #999;
}

//セミナーフォームのみ
.p-contactform_container_seminar {
	tbody th {
		@include _mq-up(sm){
			width: 35%;
		}
	}
}

// 必須入力項目の目印
// --------------------
.p-contactform_required_mark{
	&::after{
		display:inline-block;
		margin-left: .3rem;
		@include _font-size--rem(20);
		color: #ed1c24;
		content:"*";
		font-weight: normal;
	}
}

// 入力項目説明
// --------------------
// .p-contactform_input_attention_email{
// 	margin: 10px 0 3px;
// 	@include _font-size--rem(12);
// 	line-height: 1.4;
// }
// .p-contactform_input_attention_address {
// 	@include _font-size--rem(12);
// 	font-weight: normal;
// }
.p-contactform_input_attention_zip{
	margin: 0 0 .6rem;
	@include _font-size--rem(14);
	line-height: 1.25;
}
// .p-contactform_input_attention_privacy{
// 	margin: 5px 0 10px;
// 	@include _font-size--rem(12);
// 	line-height: 1.25;
// }

//入力欄 - ノーマル
// .p-contactform_width_normal{
// 	width: 70%;
// 	@include _mq-down(sm){
// 		width: 100%;
// 	}
// }

// 郵便番号入力欄
// --------------------
.p-conactform_zip_inner{
	margin-bottom: 10px;
	&::before{
		content: "〒";
		margin-right: 5px;
	}
	input[type=text]{
		width: 20%;
	}
	.your-zip2{
		&::before{
			margin-right: 5px;
			margin-left: 5px;
			content: "-";
		}
	}
}

//参加人数
.p-contactform_number {
	input[type=text]{
		width: 20%;
	}
}

//区分
.p-contactform_kubun {
	margin-top: 10px;
	input[type=text]{
		width: 70%;
	}
}

//工務店フォーラム会員
span.wpcf7-list-item.first {
	margin-left: 0;
}

//確認画面なしのチェックボックス
// .p-contactform_attention {
// 	text-align: center !important;
// }

// 送信ボタン
// --------------------
.p-contactform_submit_inner{
	margin-top: 2.5rem;
	text-align: center;
	.ajax-loader{
		display: block !important;
		margin-top: 5px !important;
		margin-right: auto !important;
		margin-left: auto !important;
	}
}
.wpcf7-submit{
	display: inline-block;
	padding: .9rem 2.8rem .8rem;
	border-radius: 5px;
	@include sgradient( $from: top, $colors: ( (#333, 0%), (#000, 100%) ) );
	@include _font-size--rem(18);
	color: #ff0;
	font-weight: bold;
	line-height: 1.0;
	cursor: pointer;
	font-family: FontAwesome;
}

//耐震シミュレーション申込みフォームの注意文
.p-h2.p-form_attention {
	margin-top: 1.5rem;
	margin-bottom: .8rem;
	padding-bottom: .2rem;
	@include _font-size--rem(16);
}