/* ---------------------------------------------------------
utility - search box
--------------------------------------------------------- */
// ---------------------------------------------------------------
// wp サイト内検索ボックス
// ---------------------------------------------------------------
.p-search_box{
	position: relative;
}
.p-search_box__text{
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-width: 1px 0 1px 1px;
	border-radius: 4px;
	padding: 2px 0 2px 4px;
}
.p-search_box__submit{
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 100%;
	padding: 2px 6px;
	@include sgradient( $from: top, $colors: ( (#ffffff, 0%), (#cccccc, 100%) ) );
	border-radius: 0 4px 4px 0;
	border: 1px solid #ccc;
	@include _font-size--rem(12);
	line-height: 1;
}
