/* ---------------------------------------------------------
utility - align
--------------------------------------------------------- */
// ---------------------------------------------------------------
// wpのalignクラス
// ---------------------------------------------------------------
// 左寄せ
// --------------------
.alignleft{ float: left; }
img.alignleft{
	display: block;
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
	@include _mq_down(sm) {
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
}
// 右寄せ
// --------------------
.alignright{ float: right; }
img.alignright{
	display: block;
	float: right;
	margin-bottom: 1rem;
	margin-left: 1rem;
	@include _mq_down(sm) {
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
}
// センター
// --------------------
.aligncenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
img.aligncenter{
	margin-bottom: 1rem;
}
