/* ---------------------------------------------------------
project - archiveList pageNavi
--------------------------------------------------------- */
// ---------------------------------------------------------------
// WordPressサイトにてアーカイブリストの下部表示するページナビのスタイルです
// ---------------------------------------------------------------
// ページネーション
// --------------------

.p-pagenation {
	display: flex;
	justify-content: center;
	margin-top: 3.0rem;
	@include _mq-down(md) {
	}
	li {
		&.active {
			width: 32px;
			margin-right: .3rem;
			padding: .44rem 0;
			background: #ccc;
			// border: 1px solid #b9b9b9;
			color: #333;
			text-align: center;
			line-height: 1.0;
		}
		&.next,
		&.prev {
		}
		a {
			display: block;
			width: 32px;
			margin-right: .3rem;
			padding: .44rem 0;
			background: #fff;
			border: 1px solid #ccc;
			text-decoration: none;
			color: #333;
			text-align: center;
			line-height: 1.0;
			&:hover {
				background: #ccc;
				color: #333;
			}
		}
	}
}

// 戻る・進むリンク
// --------------------
.p-pagenation .prev a,
.p-pagenation .next a {
	letter-spacing: 1px;
	&:hover{
	}
	@include _mq-down(sm){
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}