/* ---------------------------------------------------------
project - wp faq list
--------------------------------------------------------- */
// ---------------------------------------------------------------
// WPプラグイン「faq（プリズムゲート開発）」のスタイルです
// ---------------------------------------------------------------
.p-faqList{
	list-style: none;
}

// 質問
// --------------------
.p-faqList__question{
	display: flex;
	margin-top: $_base-margin;
	padding: 15px;
	background-color: #fff;
	color: #25892b;
	cursor:pointer;
	@include _mq-down(sm) {
		align-items: stretch;
	}
	&::before{
		display:inline-block;
		@include _font-size--rem(18);
		color: #8d8478;
		content:"Ｑ.";
		line-height: 1.14;
		font-weight: bold;
	}
	&::after{
		display: inline-block;
		content: "\f055";
		@include _font-size--rem(22);
		font-family: FontAwesome;
		line-height: 1;
		color: #8d8478;
	}
	&.active::after{
		content: "\f056";
	}
}
.p-faqList__questionWrap{
	width: 100%;
	margin-right: 15px;
	margin-left: 15px;
	line-height: 1.6;
	@include _mq-down(sm){
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

// 回答
// --------------------
.p-faqList__answer{
	@include _clearfix;
	margin: 0;
	padding: 15px 15px 25px;
	background-color: #f7f4f0;
	cursor:pointer;
	@include _mq-down(sm){
		padding: 10px 20px;
	}
	&::before{
		display:inline-block;
		float: left;
		@include _font-size--rem(18);
		color: #ef6331;
		content:"A.";
		line-height: 1.14;
		font-weight: bold;
		@include _mq-down(sm){
			display: none;
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}
.p-faqList__answerWrap{
	margin-left: 38px;
	line-height: 1.6;
	@include _mq-down(sm){
		margin-right: 0;
		margin-left: 0;
	}
}
//閉じるボタン
// .p-faqList__close{
// 	position: relative;
// 	margin-top: 15px;
// 	@include _mq-down(sm){
// 		margin-top: 10px;
// 		background-color: #999;
// 		border: 1px solid #777;
// 		border-width: 0 1px 1px 0;
// 	}
// 	&::after{
// 		@include _clearfix;
// 	}
// 	span{
// 		display: block;
// 		padding: 5px 20px 5px 10px;
// 		@include _font-size--rem(16);
// 		line-height: 1;
// 		color: #004181;
// 		cursor:pointer;
// 		text-align: center;
// 		@include _mq-down(sm){
// 			padding: 7px 10px;
// 			color: #fff;
// 		}
// 		&::before{
// 			margin-right: 0.2em;
// 			content:"-";
// 		}
// 		&::after{
// 			margin-left: 0.2em;
// 			content:"-";
// 		}
// 	}
// }

//編集ボタン
.p-faqList__goEdit{
	margin-top: 3px;
	font-size: 0.75rem;
	text-align: right;
	line-height: 1;
}