/* Wordpress管理画面用CSS */
#wpbody-content .update-nag{
	display:none;
}
#postexcerpt .inside p{
	display:none;
}
#postexcerpt .inside:after{
	content:"ページの説明を50文字〜100文字ぐらいで入力ください";
	display:block;
}
#custom_css .inside:after{
	content:"このページのスタイル（CSS）を記述してください";
	display:block;
}

.categorydiv h4{
	display:none;
}

.categorydiv .category-tabs{
	display:none;
}
#contextual-help-link-wrap {
	display: none !important;
}

/* ACFメッセージ */
.post-type-page #post-body-content .field_type-message{
	font-weight: bold;
	color: #e00;
}

/*クイックタグボタン*/

#qt_content_division,
#qt_content_paragraph,
#qt_content_span {
	background: #00768b;
	border-color: #00768b;
	color: #fff;
}
#qt_content_h2,
#qt_content_h2_text,
#qt_content_h3,
#qt_content_h3_text,
#qt_content_h4,
#qt_content_h4_text,
#qt_content_h5,
#qt_content_h5_text {
	background: #5ea200;
	border-color: #5ea200;
	color: #fff;
}
#qt_content_br,
#qt_content_pp,
#qt_content_catch,
#qt_content_p-em,
#qt_content_p-bold,
#qt_content_icon_list,
#qt_content_check_list,
#qt_content_maru_list,
#qt_content_number_list,
#qt_content_kome_list,
#qt_content_bullet_list,
#qt_content_asterisk_list  {
	background: #c1d000;
	border-color: #c1d000;
	color: #fff;
}
#qt_content_sofbg-axcell {
	display: none;
}

/* カスタム投稿のダッシュアイコン設定 */
.dashicons-admin-post {
	font-family: dashicons;
}
.menu-icon-home .dashicons-admin-post::before {
	content: "\f102";
}
.menu-icon-blog .dashicons-admin-post::before {
	content: "\f488";
}
.menu-icon-seminar .dashicons-admin-post::before {
	content: "\f338";
}
/* .menu-icon-gallery .dashicons-admin-post::before {
	content: "\f306";
}
.menu-icon-voice .dashicons-admin-post::before {
	content: "\f488";
} */