/* ---------------------------------------------------------
	Layout - contents
--------------------------------------------------------- */

/* h1
--------------------------------------------------------- */
.l-page_title {
	background:#f7f7f7;
	@include _mq-down(lg) {
		padding: 0 .6rem;
	}
	@include _mq-down(md) {
		padding-bottom: .7rem;
	}
}
.h1_box {
	@include _wrapper();
	padding: 3.4rem .4rem 1.5rem;
	border-bottom: 3px solid #333;
	@include _mq-down(lg) {
	}
	@include _mq-down(md) {
		padding: 1.2rem 0 .8rem;
	}
	@include _mq-down(sm) {
	}
	h1 {
		@include _font-size--rem(30);
		font-feature-settings : "palt";
		line-height: 1.25;
		@include _mq-down(md) {
			@include _font-size--rem(24);
		}
	}
	// h1画像
	// .l-page_service & {
	// 	background-image: url(#{$_img_path}h1_service.jpg);
	// }
}

/* コンテンツ
--------------------------------------------------------- */
.l-contents {
	display: flex;
	justify-content: space-between;
	@include _wrapper;
	padding: 2.5rem 0 8.0rem;
	@include _mq-down(lg) {
		padding: 2.5rem 1.0rem;
	}
	@include _mq-down(md) {
		flex-direction: column !important;
	}
}

/* メインコンテンツ
--------------------------------------------------------- */
.l-main {
	flex: 1;
	order: 2;
	@include _mq-down(md) {
		order: 1;
	}
}

/* サイドバー
--------------------------------------------------------- */
.l-sidebar {
	order: 1;
	box-sizing: border-box;
	width: 180px;
	margin-right: 40px;
	@include _mq-down(md) {
		order: 2;
		width: 100%;
		margin-top: 30px;
		margin-right: 0;
	}
	> * {
		margin-bottom: 10px;
	}
}
//これ以下は_sidebar.scssに記載