/* ---------------------------------------------------------
  Layout - footer
--------------------------------------------------------- */

/* フッター
--------------------------------------------------------- */
//フッター全体
.l-footer {
	position: relative;
	background:#4d4d4d;
	color: #fff;
	a img:hover {
		opacity: 0.7;
	}
}

.p-footer_contents {
	@include _wrapper();
	display: flex;
	justify-content: space-between;
	padding: 2.8rem 0 5.0rem;
	@include _font-size--rem(14);
	line-height: 1.3;
	@include _mq-down(lg) {
	}
	@include _mq-down(md) {
		flex-direction: column;
		padding: 2.0rem 1.0rem 3.0rem;
		text-align: center;
	}
	@include _mq-down(sm) {
	}
}

.p-footer_left {
	width: 395px;
	margin-right: 1.0rem;
	@include _mq-down(md) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 1.8rem;
	}
	.p-site_logo {
		display: block;
		margin: 0 0 1.5rem;
		@include _mq-down(md) {
		}
	}
	.catch {
		@include _mq-down(md) {
		}
	}
}

.p-footer_right {
	.p-company {
		margin-bottom: 30px;
		.name {
			@include _font-size--rem(16);
			color: #ffff00;
		}
		.add {
			a {
				color: #ffff00;
			}
		}
	}
	.p-info {
		.tel {
			margin-bottom:5px;
			@include _font-size--rem(18);
			color: #ffff00;
		}
		a { //スマホ用
			color: #ffff00;
		}
	}
}

//コピーライト表示
.p-copyright {
	small {
		display: block;
		@include _wrapper();
		padding: 0 0 15px;
		text-align: right;
		@include _mq-down(md) {
			text-align: center;
			padding: 0 0 5px;
		}
	}
}

//ページトップ
.pageTop{
	display: none;
	z-index: 10;
	@include _mq-up(sm){
		position: absolute;
		//top: (-50px-20px); //アイコンのheightと揃える
		top: 45px;
		right: 20px;
	}
	@include _mq-down(sm){
		position: fixed;
		right: 5px;
		bottom: 5px;
		text-align: center;
	}
	&.fixed{
		@include _mq-up(sm){
			position: fixed;
			top: auto;
			bottom: 30px;
		}
	}
}
.pageTopBtn{
	display: inline-block;
	width:  50px;
	height: 50px;
	background: url(#{$_img_path}pagetop_icon.png) no-repeat center center;
	text-indent: -9999px;
	@include _mq-down(sm){
		display: none;
	}
	&:hover {
		opacity: 0.7;
		cursor: pointer;
	}
}