/* ---------------------------------------------------------
	Layout - header
--------------------------------------------------------- */

/* ヘッダー
--------------------------------------------------------- */
.l-header {
	@include _mq-down(md) {
		position: relative;
	}
}
.p-header_contents {
	@include _wrapper();
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 1.0rem 0 1.2rem;
	// @include _mq-down(md) {
	// 	padding: 20px 10px;
	// 	flex-direction: column;
	// 	align-items: center;
	// }
	@include _mq-down(lg) {
		padding: 0.6rem 0.6rem 1.0rem;
	}
	@include _mq-down(md) {
		flex-direction: column;
		align-items: flex-start;
		padding: 0.6rem 0.6rem 1.5rem;
	}
}

.p-header_left {
	.p-site_logo {
		img {
			@include _mq-down(lg) {
				width: 100%;
				max-width: 500px;
				height: auto;
			}
			@include _mq-down(md) {
				max-width: 280px;
			}
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

.p-header_right {
	.p-banner {
		display: block;
		&:hover {
			opacity: 0.7;
		}
	}
	@include _mq-down(md) {
		display: none;
	}
}
