/* ---------------------------------------------------------
	Layout - sidebar
--------------------------------------------------------- */

//共通バナー
.p-side_banner {
	display: block;
	@include _mq-down(md) {
		text-align: center;
	}
	img {
		@include _mq-down(md) {
			width: 100%;
			max-width: 180px;
			height: auto;
		}
	}
	&:hover {
		opacity: 0.7;
	}
}

//固定ページ用子ページリスト
.c-child_list_container {
	margin-bottom: 40px;
}
.c-child_list {
	> li {
		border-bottom: 1px dotted #ccc;
		@include _font-size--rem(14);
		line-height: 1.25;
		&:first-child {
			border-top: 1px dotted #ccc;
		}
		> a {
			display: block;
			padding: 13px;
			text-decoration: none;
			color: #333;
			&:hover {
				background:#f7f7f7;
			}
		}
	}
	.is-active > a {
		background:#f7f7f7;
	}
}
.c-grandchild_list {
	> li {
		a {
			display: block;
			padding: 0 5px 5px 2.5rem;
			text-indent: -1.0rem;
			text-decoration: none;
			color: #333;
			&:hover {
				color: #d1652e;
			}
			&::before {
				content: '・';
				text-decoration: none !important;
			}
		}
	}
	.is-active_grandchild {
		text-decoration: underline;
	}
}

//カスタム投稿用子ページリスト
.l-sidebar_post_list {
	margin-bottom: 5.0rem;
	@include _font-size--rem(14);
	> .title {
		margin-bottom: .8rem;
		padding: .85rem .6rem;
		border-top: 1px solid #333;
		border-bottom: 1px dotted #ccc;
		line-height: 1.0;
	}
	> ul {

	}
	&.is-category {
		li {
			padding: .1rem .6rem;
			a {
				// display: block;
				// padding: .1rem .6rem;
				color: #333;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	// &.is-new_thumb {
	// 	> .title {
	// 		margin-bottom: 13px;
	// 	}
	// 	li {
	// 		display: flex;
	// 		align-items: center;
	// 		margin-bottom: 10px;
	// 		line-height: 1.33;
	// 		.thumb {
	// 			display: block;
	// 			width: 60px;
	// 			height: 60px;
	// 			margin-right: 10px;
	// 			background-position: center center;
	// 			background-size: cover;
	// 		}
	// 		.info {
	// 			flex: 1;
	// 			font-size: 0;
	// 			.title {
	// 				display: block;
	// 				@include _font-size--rem(12);
	// 				color: #333;
	// 			}
	// 		}
	// 	}
	// }
}
