/* ---------------------------------------------------------
 Utility - clearfix
--------------------------------------------------------- */
.u-clearfix::after{
	display: block;
	clear: both;
	content: " ";
}
@include _responsive('.u-clearfix', $_breakpoint-up) {
	&::after{
		display: block;
		clear: both;
		content: " ";
	}
}
//edit画面のみ
@if $_output-file == edit {
	.u-clearfix:after{
		padding:3px;
		background:#eee;
		border:1px dotted #aaa;
		@include fontsize(11);
		color:#555;
		text-align:center;
		content: "※ここで回り込み解除（この部分は実際には表示されません）";
	}
}
