/* ---------------------------------------------------------
utility - display
--------------------------------------------------------- */
// ---------------------------------------------------------------
// << 使用方法 >>
// どのサイズでも使用したいときは接尾辞なしのクラス、特定の画面サイズ以上の場合は接頭辞をつけたクラスを設定するとプロパティが設定されます
//
// 入力例（HTML)
// <div class="u-d_n u-d_b--md">
// </div>
// ・タブレットサイズ以下だとdisplay:none、PCサイズ以上だとdisplay:block
// ---------------------------------------------------------------
@include _responsive('.u-d_n') {
	display: none !important;
}
@include _responsive('.u-d_b') {
	display: block !important;
}
@include _responsive('.u-d_i') {
	display: inline !important;
}
@include _responsive('.u-d_ib') {
	display: inline-block !important;
}
@include _responsive('.u-d_t') {
	display: table !important;
}
@include _responsive('.u-d_tbc') {
	display: table-cell !important;
}
