/* ---------------------------------------------------------
utility - flexbox
--------------------------------------------------------- */
// flex-direction
// --------------------
$option_value:row row-reverse column column-reverse;
@each $value in $option_value {
	$class_name: '.u-flex_' + $value;
	@include _responsive($class_name) {
		flex-direction: $value;
	}
}

// flex-wrap
// --------------------
$option_value: wrap nowrap;
@each $value in $option_value {
	$class_name: '.u-flex_' + $value;
	@include _responsive($class_name) {
		flex-wrap: $value;
	}
}

// justify-content
// --------------------
$option_value: flex-start flex-end center space-between space-around;
@each $value in $option_value {
	$class_name: '.u-justify-content_' + $value;
	@include _responsive($class_name) {
		justify-content: $value;
	}
}

// align-items
// --------------------
$option_value: flex-start flex-end center baseline stretch;
@each $value in $option_value {
	$class_name: '.u-align-items_' + $value;
	@include _responsive($class_name) {
		align-items: $value;
	}
}

// align-self
// --------------------
$option_value: flex-start flex-end center baseline stretch;
@each $value in $option_value {
	$class_name: '.u-align-self_' + $value;
	@include _responsive($class_name) {
		align-self: $value;
	}
}

// align-content
// --------------------
$option_value: flex-start flex-end center space-between space-around stretch;
@each $value in $option_value {
	$class_name: '.u-align-content_' + $value;
	@include _responsive($class_name) {
		align-content: $value;
	}
}

// order
// --------------------
@for $i from 1 through 12{
	$class_name: '.u-order_' + $i;
	@include _responsive($class_name) {
		order: $i;
	}
}
