/* ---------------------------------------------------------
 Utility - margin
--------------------------------------------------------- */
// 上下左右
// --------------------
@include _responsive('.u-m_m') {
	margin: $_base-margin !important;
}
// 大きい
@include _responsive('.u-m_l') {
	margin: $_base-margin * 2 !important;
}
@include _responsive('.u-m_xl') {
	margin: $_base-margin * 3 !important;
}
// 小さい
@include _responsive('.u-m_s') {
	margin: $_base-margin / 2 !important;
}
@include _responsive('.u-m_xs') {
	margin: $_base-margin / 3 !important;
}
@include _responsive('.u-m_none') {
	margin: 0 !important;
}

// 上のみ
// --------------------
@include _responsive('.u-mt_m') {
	margin-top: $_base-margin !important;
}
// 大きい
@include _responsive('.u-mt_l') {
	margin-top: $_base-margin * 2 !important;
}
@include _responsive('.u-mt_xl') {
	margin-top: $_base-margin * 3 !important;
}
// 小さい
@include _responsive('.u-mt_s') {
	margin-top: $_base-margin / 2 !important;
}
@include _responsive('.u-mt_xs') {
	margin-top: $_base-margin / 3 !important;
}
@include _responsive('.u-mt_none') {
	margin-top: 0 !important;
}

// 下のみ
// --------------------
@include _responsive('.u-mb_m') {
	margin-bottom: $_base-margin !important;
}
// 大きい
@include _responsive('.u-mb_l') {
	margin-bottom: $_base-margin * 2 !important;
}
@include _responsive('.u-mb_xl') {
	margin-bottom: $_base-margin * 3 !important;
}
// 小さい
@include _responsive('.u-mb_s') {
	margin-bottom: $_base-margin / 2 !important;
}
@include _responsive('.u-mb_xs') {
	margin-bottom: $_base-margin / 3 !important;
}
@include _responsive('.u-mb_none') {
	margin-bottom: 0 !important;
}

// 左のみ
// --------------------
@include _responsive('.u-ml_m') {
	margin-left: $_base-margin !important;
}
// 大きい
@include _responsive('.u-ml_l') {
	margin-left: $_base-margin * 2 !important;
}
@include _responsive('.u-ml_xl') {
	margin-left: $_base-margin * 3 !important;
}
// 小さい
@include _responsive('.u-ml_s') {
	margin-left: $_base-margin / 2 !important;
}
@include _responsive('.u-ml_xs') {
	margin-left: $_base-margin / 3 !important;
}
@include _responsive('.u-ml_none') {
	margin-left: 0 !important;
}

// 右のみ
// --------------------
@include _responsive('.u-mr_m') {
	margin-right: $_base-margin !important;
}
// 大きい
@include _responsive('.u-mr_l') {
	margin-right: $_base-margin * 2 !important;
}
@include _responsive('.u-mr_xl') {
	margin-right: $_base-margin * 3 !important;
}
// 小さい
@include _responsive('.u-mr_s') {
	margin-right: $_base-margin / 2 !important;
}
@include _responsive('.u-mr_xs') {
	margin-right: $_base-margin / 3 !important;
}
@include _responsive('.u-mr_none') {
	margin-right: 0 !important;
}
