/* ---------------------------------------------------------
 Utility - padding
--------------------------------------------------------- */
// 上下左右
// --------------------
@include _responsive('.u-p_m') {
	padding: $_base-margin !important;
}
// 大きい
@include _responsive('.u-p_l') {
	padding: $_base-margin * 2 !important;
}
@include _responsive('.u-p_xl') {
	padding: $_base-margin * 3 !important;
}
// 小さい
@include _responsive('.u-p_s') {
	padding: $_base-margin / 2 !important;
}
@include _responsive('.u-p_xs') {
	padding: $_base-margin / 3 !important;
}
@include _responsive('.u-p_none') {
	padding: 0 !important;
}

// 上のみ
// --------------------
@include _responsive('.u-pt_m') {
	padding-top: $_base-margin !important;
}
// 大きい
@include _responsive('.u-pt_l') {
	padding-top: $_base-margin * 2 !important;
}
@include _responsive('.u-pt_xl') {
	padding-top: $_base-margin * 3 !important;
}
// 小さい
@include _responsive('.u-pt_s') {
	padding-top: $_base-margin / 2 !important;
}
@include _responsive('.u-pt_xs') {
	padding-top: $_base-margin / 3 !important;
}
@include _responsive('.u-pt_none') {
	padding-top: 0 !important;
}

// 下のみ
// --------------------
@include _responsive('.u-pb_m') {
	padding-bottom: $_base-margin !important;
}
// 大きい
@include _responsive('.u-pb_l') {
	padding-bottom: $_base-margin * 2 !important;
}
@include _responsive('.u-pb_xl') {
	padding-bottom: $_base-margin * 3 !important;
}
// 小さい
@include _responsive('.u-pb_s') {
	padding-bottom: $_base-margin / 2 !important;
}
@include _responsive('.u-pb_xs') {
	padding-bottom: $_base-margin / 3 !important;
}
@include _responsive('.u-pb_none') {
	padding-bottom: 0 !important;
}

// 左のみ
// --------------------
@include _responsive('.u-pl_m') {
	padding-left: $_base-margin !important;
}
// 大きい
@include _responsive('.u-pl_l') {
	padding-left: $_base-margin * 2 !important;
}
@include _responsive('.u-pl_xl') {
	padding-left: $_base-margin * 3 !important;
}
// 小さい
@include _responsive('.u-pl_s') {
	padding-left: $_base-margin / 2 !important;
}
@include _responsive('.u-pl_xs') {
	padding-left: $_base-margin / 3 !important;
}
@include _responsive('.u-pl_none') {
	padding-left: 0 !important;
}

// 右のみ
// --------------------
@include _responsive('.u-pr_m') {
	padding-right: $_base-margin !important;
}
// 大きい
@include _responsive('.u-pr_l') {
	padding-right: $_base-margin * 2 !important;
}
@include _responsive('.u-pr_xl') {
	padding-right: $_base-margin * 3 !important;
}
// 小さい
@include _responsive('.u-pr_s') {
	padding-right: $_base-margin / 2 !important;
}
@include _responsive('.u-pr_xs') {
	padding-right: $_base-margin / 3 !important;
}
@include _responsive('.u-pr_none') {
	padding-right: 0 !important;
}
