/* ---------------------------------------------------------
utility - text・font
--------------------------------------------------------- */
// ---------------------------------------------------------------
// text周りやfont周りのクラス
// ---------------------------------------------------------------
// text-align
// --------------------
@include _responsive('.u-ta_l') {
	text-align: left !important;
}
@include _responsive('.u-ta_c') {
	text-align: center !important;
}
@include _responsive('.u-ta_r') {
	text-align: right !important;
}

// vertical-align
// --------------------
@include _responsive('.u-va_t') {
	vertical-align: top !important;
}
@include _responsive('.u-va_m') {
	vertical-align: middle !important;
}
@include _responsive('.u-va_b') {
	vertical-align: bottom !important;
}

// font-size
// --------------------
@include _responsive('.u-fs_normal') {
	font-size: 1rem;
}
@include _responsive('.u-fs_xs') {
	font-size: 1em * 0.625; //ベース16pxの場合10px
}
@include _responsive('.u-fs_ss') {
	font-size: 1em * 0.75; //ベース16pxの場合12px
}
@include _responsive('.u-fs_s') {
	font-size: 1em * 0.875; //ベース16pxの場合14px
}
@include _responsive('.u-fs_l') {
	font-size: 1em * 1.125; //ベース16pxの場合18px
}
@include _responsive('.u-fs_ll') {
	font-size: 1em * 1.25; //ベース16pxの場合20px
}
@include _responsive('.u-fs_xl') {
	font-size: 1em * 1.5; //ベース16pxの場合24px
}

// font-weight
// --------------------
@include _responsive('.u-fw_b') {
	font-weight: bold !important;
}
@include _responsive('.u-fw_n') {
	font-weight: normal !important;
}

// nowrap
// --------------------
@include _responsive('.u-ws_nowrap') {
	white-space: nowrap !important;
}
@include _responsive('.u-ws_normal') {
	white-space: normal !important;
}

// line-height
// --------------------
@include _responsive('.u-lh_normal') {
	line-height: $_line-height;
}
@include _responsive('.u-lh_xs') {
	line-height: 1;
}
@include _responsive('.u-lh_ss') {
	line-height: 1.35;
}
@include _responsive('.u-lh_s') {
	line-height: 1.4;
}
@include _responsive('.u-lh_l') {
	line-height: 1.8;
}
@include _responsive('.u-lh_ll') {
	line-height: 2;
}

// text-decoration
// --------------------
@include _responsive('.u-td_n') {
	text-decoration: none;
}
@include _responsive('.u-td_u') {
	text-decoration: underline;
}
