/* ---------------------------------------------------------
 Utility - width
--------------------------------------------------------- */
@for $i from 0 through 10 {
	$percent: 10 * $i;
	$class_name: '.u-width_' + $percent;
	@include _responsive($class_name) {
		width: ($percent + 0%) !important;
	}
}
