// ---------------------------------------------------------------
// clearfix用のプロパティを出力するmixinです
//
// << 使用方法 >>
// 入力例（scss)
// .foo{
// 	@include _clearfix;
// }
// 出力結果（css)
// .foo{
// 	display: block;
// 	clear: both;
// 	content: '';
// }
// ---------------------------------------------------------------
@mixin _clearfix(){
	display: block;
	clear: both;
	content: '';
}
