// ---------------------------------------------------------------
// 指定した数字が何remかを出力する
//
// << 使用方法 >>
// 入力例（scss)
// .foo{
// 	@include _font-size--rem(15);
// }
// 出力結果（css)
// .foo{
// 	font-size: 1.5rem;
// }
// ---------------------------------------------------------------

$base-size: map-get($_font-size, 'md');

@mixin _font-size--rem($target-size){
	font-size: $target-size/$base-size + rem;
}
