// ---------------------------------------------------------------
// メディアクエリーを生成するmixinです。
//
// << 使用方法 >>
// 入力例（scss)
// .foo{
// 	color:#000;
// 	@include _mq_down(sm) {
// 		color:#fff;
// 	}
// }
// 出力結果（css)
// .foo{
// 	color:#000;
// }
// @media screen and (max-width: 640px) {
// 	.foo{
// 		color:#fff;
// 	}
// }
//
// <<その他 >>
// $break-pointにする変数は foundation/variable/_breakpoint.scss　にあり
// コード元：http://qiita.com/kyaido/items/828906ffa7198e99d0b7
// ---------------------------------------------------------------

@mixin _mq_up($breakpoint: md) {
	@media #{map-get($_breakpoint-up, $breakpoint)} {
		@content;
	}
}
@mixin _mq_down($breakpoint: md) {
	@media #{map-get($_breakpoint-down, $breakpoint)} {
		@content;
	}
}
@mixin _mq_print() {
	@media print {
		@content;
	}
}
