// ---------------------------------------------------------------
// class名と内容を指定するとノーマル、各ブレークポイント時に作動するコードを出力
//
// << 使用方法 >>
// 入力例（scss)
// @include _responsive('.foo') {
// 	display: none;
// }
//
// 出力結果（css)
// .foo{
// 	display: none;
// }
// @media screen and (min-width: 641px) {
// 	.foo--md{
// 		display: none;
// 	}
// }
//
// <<その他 >>
// コード元：https://github.com/manabuyasuda/equip/blob/master/develop/assets/css/foundation/mixin/_responsive.scss
// ---------------------------------------------------------------
@mixin _responsive($class, $bp: $_breakpoint-up) {
	#{$class} {
		@content;
	}
	@each $suffix, $value in $bp {
		@media #{$value} {
			#{$class}--#{$suffix} {
				@content;
			}
		}
	}
}
