// ---------------------------------------------------------------
// css3　グラデーションのコードを出力するmixinです
//
// << 使用方法 >>
// 入力例（scss)
// .foo{
// 	@include sgradient( $from: top, $colors: ( (#000000, 0%), (#ffffff, 100%) ) );
// }
// 出力結果（css)
// .foo{
// 	background: #000000;
// 	background: -webkit-linear-gradient(top,  #000000 2%,#ffffff 100%);
// 	background: linear-gradient(to bottom,  #000000 2%,#ffffff 100%);
// }
// << その他 >>
// $from = グラデーションの始点を設定（top、left、topleftなど）
// $colors = 配列で色コードと始点を％で設定、複数設定可能　$colors: ( (#eae2cb, 0%), (#eae2cb, 50%),　(#d8c79c, 100%) )
// ---------------------------------------------------------------
@function contains($colors,$var) {
	$contains: false;
	@each $item in $colors { @if $item == $var { $contains: true; } }
	@return $contains;
}

@function orientation-string($type, $from, $w3c:false) {
	$string: '';
	@if $w3c {
	@if $type == 'linear'{
	@if $from == 'top'or $from == 'bottom'{ $string: 'to bottom, '; }
	@else if $from == 'left'or $from == 'right'{ $string: 'to right, '; }
	@else if $from == (lefttop) or $from == (topleft) or $from == (rightbottom) or $from == (bottomright) { $string: '135deg, '; }
	@else { $string: '45deg, '; }
	} @else if $type == 'radial'{ $string: 'ellipse at '+ $from + ', '; }
	} @else { // new webkit, moz, ms, o
	@if $type == 'linear'{
	@if $from == 'top'or $from == 'bottom'{ $string: 'top, '; }
	@else if $from == 'left'or $from == 'right'{ $string: 'left, '; }
	@else if $from == (lefttop) or $from == (topleft) or $from == (rightbottom) or $from == (bottomright) { $string: '-45deg, '; }
	@else { $string: '45deg, '; }
	} @else if $type == 'radial'{ $string: $from + ', ellipse cover, '; }
	}
	@return $string;
}

@function color-substring($colors) {
	$i: 1;
	$substring: '';
	$string: '';
	@while $i < length($colors) {
	$substring: nth($colors, $i) + ' '+ nth($colors, $i+1);
	$string: $string + $substring;
	$i: $i + 1;
	}
	@return $string;
}

@function color-string($colors) {
	$i: 1;
	$spacer: ', ';
	$substring: '';
	$string: '';
	@while $i <= length($colors) {
	@if $i == length($colors) { $spacer: ''; }
	$substring: color-substring(nth($colors, $i)) + $spacer;
	$string: $string + $substring;
	$i: $i + 1;
	}
	@return $string;
}

@function ie-gradient-type($direction) {
	@if $first-color { @return nth(nth($colors, 1), 1) }
	@else { @return nth(nth($colors, length($colors)), 1) }
	}
	@function ie-colors($colors, $first-color:true) {
	@if $first-color { @return nth(nth($colors, 1), 1) }
	@else { @return nth(nth($colors, length($colors)), 1) }
}

@mixin sgradient($type:'linear', $from:'top', $colors:((rgba(42,179,221,1), 0%),(rgba(183,80,80,1), 100%))) {
	$orientation-string: orientation-string($type, $from);
	$orientation-string-w3c: orientation-string($type, $from, $w3c:true);
	$color-string: #{color-string($colors)};
	$css-string: gradient(#{$orientation-string}#{$color-string});
	$css-string-w3c: gradient(#{$orientation-string-w3c}#{$color-string});
	$ie-gradient-type: 0;
	@if $type != 'vertical'{ $ie-gradient-type: 1}
	background-color: #{ie-colors($colors, false)};
	background: -webkit-#{$type}-#{$css-string};
	background: #{$type}-#{$css-string-w3c};
	// filter: progid:DXImageTransform.Microsoft.gradient(GradientType=#{$ie-gradient-type}, StartColorStr='#{ie-colors($colors)}', EndColorStr='#{ie-colors($colors, false)}');
}

