// ---------------------------------------------------------------
// PCサイズ画面幅固定でPCサイズ以上はセンター寄せになるラッパープロパティを出力するmixinです
//
// << 使用方法 >>
// 入力例（scss)
// .foo{
// 	@include _wrapper;
// }
// 出力結果（css)
// .foo{
// 	width: 100%;
// 	max-width: 960px;
// 	margin-right: auto;
// 	margin-left: auto;
// }
// ---------------------------------------------------------------
@mixin _wrapper(){
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	max-width: $_width--pc;
}

@mixin _wrapper_mainimg(){
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	max-width: $_width--pc-l;
}