//--------------------------------------------------
// Media Queries break point
//--------------------------------------------------
// basewidth size
// --------------------
$_width--sp: 640px;
$_width--tablet: 768px;
$_width--pc: 960px;
$_width--pc-l: 1200px;

// min-width
// --------------------
$_breakpoint-up: (
	'sm': 'print, screen and (min-width: '+ ($_width--sp + 1) +')',
	'md': 'print, screen and (min-width: '+ ($_width--tablet + 1) +')',
	'lg': 'print, screen and (min-width: '+ ($_width--pc + 1) +')',
	'xl': 'print, screen and (min-width: '+ ($_width--pc-l + 1) +')',
) !default;

// max-width
// --------------------
$_breakpoint-down: (
	'sm': 'print, screen and (max-width: '+ ($_width--sp) +')',
	'md': 'print, screen and (max-width: '+ ($_width--tablet) +')',
	'lg': 'print, screen and (max-width: '+ ($_width--pc) +')',
	'xl': 'print, screen and (max-width: '+ ($_width--pc-l) +')',
) !default;
