// ---------------------------------------------------------------
// 基本の色
// ---------------------------------------------------------------
// base
// --------------------
$_color-text: #333 !default;
// link
// --------------------
$_color-link: #d4145a !default;
$_color-link--hover: #666666 !default;
$_color-link--visited: null !default;




