//--------------------------------------------------
//font-family
//--------------------------------------------------
$_font-family--mincho:"Hiragino Mincho ProN","Hiragino Mincho Pro","游明朝体", "Yu Mincho", YuMincho,"HG明朝E","ＭＳ 明朝",serif;
$_font-family--gothic: -apple-system, "Trebuchet MS","游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$_font-family--fontawesome: fontawesome,"Font Awesome 5 Free","Font Awesome 5 Brands";

// 例
// font-family: $_font-family--mincho;

//--------------------------------------------------
//font-size  //単位はpx
//--------------------------------------------------
$_font-size: (
	'sm': 14,
	'md': 16,
	'lg': 16,
	'xl': 14,
) !default;

//--------------------------------------------------
//line-height
//--------------------------------------------------
$_line-height: 1.6;
