/* ---------------------------------------------------------
 Component - mulch Column Block
--------------------------------------------------------- */
// ---------------------------------------------------------------
// 画像＋テキストの横並びなど複数列でレイアウトされたブロックのスタイルです
// ※必要に応じて、余白のクラスを入れて使いましょう
//
// << 使用方法 >>
// ★右画像、左テキスト　画像は横並び
// <div class="c-mulch_cols">
// 	<div class="c-mulch_cols_imgs c-mulch_cols_imgs--toColumn c-grid__order2--md">
// 		<img src="http://placehold.jp/150x150.png">
// 	</div>
// 	<div>
// 		<p>ほげほげほげ…</p>
// 		<p>ほげほげほげ…</p>
// 	</div>
// </div>
//
// ★左画像、右テキスト　画像は縦並び
// <div class="c-mulch_cols">
// 	<div class="c-mulch_cols_imgs c-mulch_cols_imgs--toRow">
// 		<img src="http://placehold.jp/150x150.png">
// 	</div>
// 	<div>
// 		<p>ほげほげほげ…</p>
// 		<p>ほげほげほげ…</p>
// 	</div>
// </div>
// ---------------------------------------------------------------

.c-mulch_cols{
	display: flex;
	width: 100%;
	margin: $_base-margin * -0.5;
	@include _mq-down(sm) {
		flex-direction: column;
	}
	@if $_output-file == edit {
		padding: 5px;
		border:1px dotted #ccc;
	}
	>div{
		padding:$_base-margin * 0.5;
		@if $_output-file == edit {
			margin: 2px;
			padding: 5px;
			border:1px dotted #ccc;
		}
	}
	>.c-mulch_cols_imgs{
		flex-shrink: 0;
		@include _mq-down(sm) {
			flex-shrink: 1;
		}
		@if $_output-file == edit {
			margin-top: 0;
			margin-left: 0;
		}
	}
}

// イメージ用マルチカラム
// --------------------
.c-mulch_cols_imgs{
	margin-top: $_base-margin * -1;
	@include _mq-down(sm) {
		text-align: center;
	}
	@if $_output-file == edit {
		padding: 5px;
		border: 1px dotted #ccc;
		&::before{
			display: block;
			@include _font-size--rem(10);
			text-align: center;
			content:"この中に画像挿入";
		}
	}
	img{
		margin-top: $_base-margin;
	}
}
.c-mulch_cols_imgs--toRow{
	margin-left: $_base-margin * -1;
	img{
		margin-left: $_base-margin;
	}
}
.c-mulch_cols_imgs--toColumn{
	img{
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}
