/* ---------------------------------------------------------
 Component - bread crumb
--------------------------------------------------------- */
// ---------------------------------------------------------------
// ぱんくずリンクのスタイル
//
// << 使用方法 >>
// <ul class="l-bread">
// 	<li><a href="../">トップページ</a></li>
// 	<li>xxページ</li>
// </ul>
// ---------------------------------------------------------------

// ローカル変数
// --------------------
$font-color: #666; //文字色

.l-bread{
	@include _wrapper;
	padding: 1.0rem 0;
	list-style: none;
	@include _font-size__rem(12);
	color: $font-color;
	@include _mq-down(md) {
		padding: .5rem 0;
	}
	&::after{
		@include _clearfix;
	}
	> li {
		float:left;
		margin-right: .5rem;
		&:before {
			margin-right: .5rem;
			content:"-";
		}
		&:first-child:before{
			display: none;
		}
		a {
			color: #666;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

