/* ---------------------------------------------------------
 Component - global navi
--------------------------------------------------------- */

/* globalnavi_PC
--------------------------------------------------------- */
.l-global_navi {
	@include sgradient( $from: top, $colors: ( (#666, 0%), (#333, 100%) ) );
	@include _mq-down(md) {
		display: none;
	}
}
.c-global_navi_menu {
	display: flex;
	@include _wrapper();
	@include _mq-down(md) {
		justify-content: center;
	}
	li {
		box-sizing: border-box;
		@include _font-size--rem(14);
		line-height: 1.1;
		display: flex;
		align-items: center;
		text-align: center;
		@include _mq-down(lg) {
			width: (100%/5);
			@include _font-size--rem(12);
		}
		&:hover {
			@include sgradient( $from: top, $colors: ( (#333, 0%), (#000, 100%) ) );
		}
		a {
			width: (960px/5);
			display: block;
			padding: 12px 10px;
			color: #fff;
			text-decoration: none;
			@include _mq-down(lg) {
				width: 100%;
			}
			&:hover {
				color: #fcff21;
			}
		}
		&:first-child {
			@include _font-size--rem(12);
		}
		// activeクラス
		&.is-active {
			@include sgradient( $from: top, $colors: ( (#333, 0%), (#000, 100%) ) );
			a {
				color: #fcff21;
			}
		}
		&.is-sp_only { //スマホのみ表示する項目
			display: none;
		}
	}
}

/* globalnavi_SP
--------------------------------------------------------- */
.l-global_navi_sp_wrapper {
	@include _mq-up(md) {
		display: none;
	}
	position: absolute;
	top: 10px;
	right: 10px;
}
.l-global_navi_sp {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	text-align: center;
	transform: translateY(-120%);
	transition: all 0.6s ease;
	width: 100%;
	background-color: rgba(51,51,51,1.0);
	@include _font-size--rem(14);
	padding: 3.5rem 2.5rem 0;
	&.is-active{
		transform: translateY(0%);
	}
}
.c-global_navi_menu_sp{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	li {
		font-size: 1.1em;
		list-style-type: none;
		padding: 0;
		width: 100%;
		border-bottom:1px solid #fff;
		a{
			display: block;
			color: #fff;
			padding: 1em 0;
			text-decoration: none;
			&:hover{
				background: #fff;
				color: #333;
			}
		}
		&.phone {
			padding: 1.0rem 2.0rem;
			a {
				border: 1px solid #fff;
				background-color: rgba(51,51,51,0.9);
				text-decoration: none;
				&:hover {
					color: #fff;
				}
				&::before{
					content: "\f095";
					font-size: 90%;
					font-family: FontAwesome;
					margin-right: .3rem;
				}
			}
		}
		&.is-active {
			background-color: #fff;
			a {
				color: #333;
			}
		}
	}
}

//ハンバーガーアイコン
.navToggle { //ボタン
	position: relative;
	width: 42px;
	height: 40px;
	cursor: pointer;
	z-index: 3;
	// background: $_color-text;
	background:#ef3a89;
	border-radius: 5px;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
	&::after {
		display: block;
		position: absolute;
		margin: 42px auto 0;
		width: 42px;
		@include _font-size--rem(12);
		line-height: 1.5;
		white-space:nowrap;
		color: #333;
		font-weight: bold;
		content:"メニュー";
	}
}
.navToggle span {
	display: block;
	position: absolute;
	width: 30px;
	border-bottom: solid 3px #fff;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
	left: 6px;
}
.navToggle span:nth-child(1) {
	top: 9px;
}
.navToggle span:nth-child(2) {
	top: 18px;
}
.navToggle span:nth-child(3) {
	top: 27px;
}
.navToggle.is-active{
	// background: #f3efec;
	&::after {
		color: #fff;
		content:"閉じる";
	}
}
/* 最初のspanをマイナス45度に */
.navToggle.is-active span:nth-child(1) {
	top: 18px;
	left: 6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.is-active span:nth-child(2),
.navToggle.is-active span:nth-child(3) {
	top: 18px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}