/* ---------------------------------------------------------
 Component - google map
--------------------------------------------------------- */
// ---------------------------------------------------------------
// google map埋め込みレスポンシブ化（googlemap apiを使用した表示の場合）
//
// << 使用方法 >>
// <div class="c-googlemap_container">
// 	<div id="jimusyo-map" class="c-googlemap_container__obj"></div>
// </div>
// <a href="xxxxx" class="c-googlemap-Link">大きな地図を見る</a>
// ---------------------------------------------------------------
.c-googlemap_container{
	// position: relative;
	// padding-top: 50%;
}
.c-googlemap_container__obj{
	// position: absolute;
	width: 100%;
	height: 300px;
	top: 0;
	@include _mq-down(lg) {
		width: 100%;
		margin-bottom: 20px;
	}
	@include _mq-down(sm) {
		height: 300px;
	}
}

//マップ下のリンク
// .c-googlemap_link{
// 	@include _font-size--rem(14);
// 	margin-top: 5px;
// 	margin-bottom: 5px;
// 	@include _mq-down(sm) {
// 		margin-top: 0;
// 	}
// }
