/* ---------------------------------------------------------
 Component - gridSystem(float)
--------------------------------------------------------- */
// ---------------------------------------------------------------
// floatを利用したgridレイアウトです(flexboxを利用できない環境下のみ使用ください)
//
// << 使用方法 >>
// <div class="c-grid">
// 	<div class="c-grid__item c-grid__item--9">
// 		内容
// 	</div>
// 	<div class="c-grid__item c-grid__item--3">
// 		内容
// 	</div>
// </div>
// << 注意事項 >>
// gridSystem（flexbox)が使えないときに使用するsassです
// ---------------------------------------------------------------

// ローカル変数
// --------------------
$grid-columns: 12; //何分割のグリッドか
$grid-max-width: $_width_lg; //rowの最大幅


/* grid row
--------------------------------------------------------- */
.c-grid{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: $grid-max-width;
	&::after{
		@include _clearfix;
	}
}

/* grid column
--------------------------------------------------------- */
.c-grid__item{
	display: inline;
	float: left;
	padding: $_base-margin;
}
@for $i from 1 through $grid-columns{
	.c-grid__item--#{$i}{
		width: (100% / $grid-columns) * $i;
	}
}

/* grid one columns(responsive)
--------------------------------------------------------- */
@include _responsive('.c-grid__item--1col') {
	display: block;
	float: none;
	padding: 0;
}
