/* ---------------------------------------------------------
 Component - gridSystem(flexbox)
--------------------------------------------------------- */
// ---------------------------------------------------------------
// flexboxを利用したgridレイアウト
//
// << 使用方法 >>
// <div class="c-grid">
// 	<div class="c-grid__item c-grid__size9">
// 		内容
// 	</div>
// 	<div class="c-grid__item c-grid__size3">
// 		内容
// 	</div>
// </div>
//
// << 注意事項 >>
// gridSystem（float)との重複使用NG … 機能が同じのためclass名も一緒にしています。
// ---------------------------------------------------------------

// ローカル変数
// --------------------
$grid-columns: 12; //何分割のグリッドか


// grid container
// --------------------
.c-grid{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

// grid カラム
// --------------------
.c-grid__item{
	flex: 1;
	.c-grid--gutter &{
		padding: $_base-margin;
		&.gutter-none{
			padding: 0;
		}
	}
}
@include _responsive('.c-grid__item--full') {
	flex: 0 0 100% !important;
}

// grid 幅
// --------------------
@for $i from 1 through $grid-columns{
	.c-grid__size#{$i}{
		flex: 0 0 (100% / $grid-columns) * $i;
	}
}
//レスポンシブ用
$breakpoint: sm md lg xl;
@each $point in $breakpoint {
	@for $i from 1 through $grid-columns{
		@include _mq_up($point) {
			.c-grid__size#{$i}--#{$point}{
				flex: 0 0 (100% / $grid-columns) * $i !important;
			}
		}
	}
}

// grid 順番
// --------------------
@for $i from 1 through $grid-columns{
	.c-grid__order#{$i}{
		order: $i;
	}
}
//レスポンシブ用
$breakpoint: sm md lg xl;
@each $point in $breakpoint {
	@for $i from 1 through $grid-columns{
		@include _mq_up($point) {
			.c-grid__order#{$i}--#{$point}{
				order: $i !important;
			}
		}
	}
}
