/* ---------------------------------------------------------
 Component - list
--------------------------------------------------------- */
// ---------------------------------------------------------------
// 基本的なリスト
//
// << 使用方法 >>
// ---------------------------------------------------------------

// ローカル変数
// --------------------
$text_icons: (
	bullet:   '・',
	kome:     '※',
	asterisk: '＊',
);
$obj-color: #ebe921;
$arrow-color: #ee3a89;

// テキストアイコンのリスト
// --------------------
@each $safix, $text in $text_icons {
	.c-list_#{$safix}{
		list-style: none;
		> li{
			margin-left: 1.0rem;
			line-height: 1.4;
			// + li {
			// 	margin-top: 0.3rem;
			// }
			&:before{
				display: inline-block;
				width: 1.0rem;
				margin-left: -1.0rem;
				content: "#{$text}";
			}
		}
	}
}

// css3でオブジェクトを描画したアイコンのリスト（デフォルトは四角）
// --------------------
.c-list_obj_icon{
	list-style:none;
	> li {
		position: relative;
		margin-left: 1.0rem;
		line-height: 1.6;
		+ li {
			margin-top: 0.3rem;
		}
		&::after{
			display: block;
			content: '';
			position: absolute;
			top: 0.45rem;
			left: -0.8rem;
			width: 0.5rem;
			height: 0.5rem;
			background-color: $obj-color;
		}
	}
}
//ダイヤ
.c-list_obj_icon--dia{
	li::after{
		transform: rotate(-45deg);
	}
}
//チェック
.c-list_obj_icon--check{
	> li::after{
		width: 0.7em;
		height: 0.3em;
		background-color: transparent;
		border-left: 2px solid #{$obj-color};
		border-bottom: 2px solid #{$obj-color};
		transform: rotate(-45deg);
	}
}
//丸
.c-list_obj_icon--maru{
	> li {
		margin-left: 0.8em;
		&::after{
			left: -0.8em;
			border-radius: 50%;
		}
	}
}
//線のみの丸
.c-list_obj_icon--line_maru{
	> li {

		&::after{
			top: 0.35rem;
			background-color: transparent;
			border: 2px solid $obj-color;
			border-radius: 50%;
			width: 0.57rem;
			height: 0.57rem;
		}
	}
}

// 丸囲み数字リスト
// --------------------
ol.c-list_number_icon__circle {
	counter-reset: my-counter;
	list-style: none;
	padding: 0;
	text-indent: 0;
	> li {
		position: relative;
		// margin-top: 0.1rem;
		// margin-bottom: 0.1rem;
		padding-left: 1.0rem;
		list-style: none;
		&::before {
			content: counter(my-counter);
			counter-increment: my-counter;
			display: block;
			float: left;
			background: #fff;
			height: 1.0rem;
			width: 1.0rem;
			border-radius: 50%;
			border: 1px solid #333;
			@include _font-size--rem(13);
			line-height: 1.0;
			color: #333;
			text-align: center;
			margin-top: 0.28rem;
			margin-right: 0.05rem;
			margin-left: -1.0rem;
			padding-top: 0.00rem;
			padding-left: 0.05rem;
		}
	}
}

// css3でオブジェクトを描画した矢印のリスト（デフォルトは「>」）
// --------------------
.c-list_arrow{
	list-style:none;
	> li {
		position: relative;
		margin-left: 1.0rem;
		line-height: 1.5;
		+ li{
			margin-top: 0.5rem;
		}
		&::after{
			display: block;
			content: '';
			position: absolute;
			top:0.52rem;
			left: -1.0rem;
			width: 0.45rem;
			height: 0.45rem;
			border-right: 2px solid #{$arrow-color};
			border-bottom: 2px solid #{$arrow-color};
			transform: rotate(-45deg);
		}
	}
}

// css3でオブジェクトを描画した右三角のリスト（デフォルトは「▶」）
// --------------------
.c-list_triangle{
	list-style:none;
	> li {
		position: relative;
		margin-left: 0.9rem;
		line-height: 1.5;
		+ li {
			margin-bottom: 0.5rem;
		}
		&::before{
			display: block;
			content: '';
			position: absolute;
			top: 0.5rem;
			left: -0.9rem;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0.3rem 0 0.3rem 0.6rem;
			border-color: transparent transparent transparent #{$arrow-color};
		}
	}
}

//awesomeフォントを利用したリスト
.c-list_awesome{
	list-style:none;
	> li {
		line-height: 1.4;
		&::before{
			display: inline-block;
			font-size: 90%;
			font-family: FontAwesome;
			line-height: 1;
		}
	}
}
//チェックリスト
.c-list_awesome--check{
	$icon_size: 1.0rem;
	> li {
		margin-left: $icon_size;
		&::before{
			content: "\f046";
			width: $icon_size;
			margin-left: $icon_size * -1;
			color: $arrow-color;
		}
		+ li {
			margin-top: 0.3rem;
		}
	}
}
//◯の中に＞があるリスト
.c-list_awesome--dainari_maru{
	$icon_size: 1.0rem;
	> li {
		margin-left: $icon_size;
		&::before{
			content: "\f138";
			width: $icon_size;
			margin-left: $icon_size * -1;
			color: $arrow-color;
		}
		+ li{
			margin-top: 0.6em;
		}
	}
}
//右矢印
.c-list_awesome--arrow{
	$icon_size: 1.2rem;
	> li {
		margin-left: $icon_size;
		&::before{
			content: "\f18e";
			width: $icon_size;
			margin-left: $icon_size * -1;
			color: $arrow-color;
		}
		+ li{
			margin-top: 0.6em;
		}
	}
}

//独自アイコンリスト（fontAwesome使用）
.c-list_unique_icon { //●リスト
	margin-left: 1.0rem;
	li {
		position: relative;
		margin-left: 1.0rem;
		line-height: 1.4;
		+ li {
			margin-top: 0.1rem;
			margin-bottom: 0.1rem;
		}
		&::before{
			display: block;
			font-family: fontawesome;
			content: "\f111";
			position: absolute;
			top: 0.2rem;
			left: -1.0rem;
			color: #29aba1;
			font-size: 75%;
		}
	}
}
//独自アイコンリスト（img使用）
// .c-list_unique_icon {
// 	li {
// 		position: relative;
// 		margin-left: 1.0rem;
// 		margin-bottom: 0.2rem;
// 		line-height: 1.4;
// 		&::before{
// 			display: block;
// 			content: url(#{$_img_path}list_icon.png);
// 			position: absolute;
// 			top: -0.05rem;
// 			left: -0.7rem;
// 		}
// 	}
// }
