// $_base-marginは/foundation/variable/_margin.scssにて定義

.c-mulch_box {
	display: flex;
	width: 100%;
	@include _mq-down(md) {
		flex-direction: column;
	}
	@if $_output-file == edit {
		padding: 5px;
		border:1px dotted #777;
	}
	>div{
		@include _mq-down(md) {
			order: 2;
		}
		@if $_output-file == edit {
			margin: 3px;
			padding: 5px;
			border:1px dotted #ccc;
		}
	}
}
.c-mulch_img {
	display: block;
	flex-shrink: 0;
	img {
		margin-bottom: $_base-margin;
	}
	@include _mq-down(md) {
		text-align: center;
	}
	@if $_output-file == edit {
		&::before{
			display: block;
			margin-bottom: 3px;
			@include _font-size--rem(10);
			text-align: center;
			content:"このボックスに画像を挿入";
		}
	}
}
.c-mulch_img_right {
	margin-left: $_base-margin;
	@include _mq-down(md) {
		order: 1 !important;
		margin-left: 0;
	}
}
.c-mulch_img_left {
	margin-right: $_base-margin;
	@include _mq-down(md) {
		margin-right: 0;
	}
}
.c-mulch_img_rows {
	img {
		display: block;
		@include _mq-down(md) {
			margin-right: auto;
			margin-left: auto;
		}
		&:not(:first-child) {
			margin-top: $_base-margin;
		}
	}
}
.c-mulch_img_cols {
	img {
		@include _mq-down(md) {
			display: block;
			margin-right: auto;
			margin-left: auto;
		}
		&:not(:first-child) {
			margin-left: $_base-margin;
			@include _mq-down(md) {
				display: block;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
}
