/* ---------------------------------------------------------
 Component - table
--------------------------------------------------------- */
// ---------------------------------------------------------------
// 基本的なテーブルを設定
//
// << 使用方法 >>
// ex.基本（モバイル対応なし）
// <table class="c-table_base">
// 	<thead>
// 		<tr>
// 			<th>見出し１</th>
// 			<th>見出し２</th>
// 		</tr>
// 	</thead>
// 	<tbody>
// 		<tr>
// 			<th>サブ見出し</th>
// 			<td>内容が入ります</td>
// 		</tr>
// 	</tbody>
// </table>
//
// ex.tbodyのみのテーブルかつモバイル対応
// <table class="c-table_base c-table_mobile_block">
// 	<tbody>
// 	</tbody>
// </table>
//
// ex.thead、tbodyあるテーブルかつモバイル対応
// <table class="c-table_base c-table_mobile_thead_Left">
// 	<thead>
// 	</thead>
// 	<tbody>
// 	</tbody>
// </table>
// または…
// <div class="c-table_mobile_scroll">
// 	<table class="c-table_base">
// 		<thead>
// 		</thead>
// 		<tbody>
// 		</tbody>
// 	</table>
// </div>
// ---------------------------------------------------------------

// ローカル変数
// --------------------
$layout-breakpoint: $_width--sp; //テーブル表示を切り替えるブレークポイント
$border-color: #d2d2d2; //テーブルの線の色
//$thead-bg: #fff9f4; //theadの背景色
//$thead-text: #fff; //theadの文字色
$tbody-th-bg: #eae8e5; //tbodyのthの背景色
$tbody-th-text: inherit; //tbodyのthの文字色
$tbody-td-bg: #fff; //tbodyのtdの背景色
$tbody-td-text: inherit; //tbodyのtdの文字色
$cell-padding: 13px 20px; //セル内の余白
$cell-padding-sp: 10px; //スマホ閲覧時のセル内の余白

// 汎用テーブル（横並び）
// --------------------
.c-table_base{
	width: 100%;
	line-height: 1.4;
	// thead th, thead td{
	// 	padding: $cell-padding;
	// 	white-space:nowrap;
	// 	background-color: $thead-bg;
	// 	border:1px solid $border-color;
	// 	font-weight: bold;
	// 	color: $thead-text;
	// }
	tbody{
		tr {
			&:last-child td {
				@include _mq-down(sm) {
					border-bottom: 1px solid $border-color;
				}
			}
		}
		th{
			padding: $cell-padding;
			background-color: $tbody-th-bg;
			border: 1px solid $border-color;
			vertical-align: top;
			color: $tbody-th-text;
			text-align:left;
			white-space: nowrap;
			@include _mq-down(sm) {
				padding: $cell-padding-sp;
				border-bottom: 0;
			}
		}
		td{
			padding: $cell-padding;
			background-color: $tbody-td-bg;
			border: 1px solid $border-color;
			vertical-align: top;
			@include _mq-down(sm) {
				padding: $cell-padding-sp;
				border-bottom: 0;
			}
		}
	}
	&.c-table_another_color_ver {
		th{
			background-color: #97908a;
			color: #fff;
		}
	}
	&.c-table_another_column_ver {
		th{
			background-color: #eae8e5;
			color: #333;
		}
		tr:first-child th {
			background-color: #97908a;
			color: #fff;
		}
	}
}
//上下のみ点線のテーブル
.c-table_base--dott{
	border-width: 0;
	tbody{
		tr{
			&:first-child th {
				border-top: 1px solid $border-color;
				@include _mq-down(sm) {
					border-top: 0;
				}
			}
			&:first-child td {
				border-top: 1px solid $border-color;
				@include _mq-down(sm) {
					border-top: 0;
				}
			}
			&:last-child th,
			&:last-child td {
				border-bottom: 1px solid $border-color;
				@include _mq-down(sm) {
					border-bottom: 0;
				}
			}
		}
		th{
			background-color: #f7f7f7;
			border-top: 0;
			border-bottom: 1px dotted $border-color;
			border-left: 2px solid #333;
		}
		td{
			border-top: 0;
			border-bottom: 1px dotted $border-color;
		}
		& > tr,th,td {
			@include _mq-down(sm) {
				border-width: 0;
			}
		}
	}
}

// ブレークポイント以下はモバイル表示に変更
// --------------------
@include _mq-down(sm) {
	.c-table_base{
		thead th, thead td,tbody th{
			white-space: normal;
		}
	}
	// テーブル全体スクロール
	.c-table_mobile_scroll{
		overflow-x: auto;
		white-space: nowrap;
		&::before{
			display: block;
			margin-top: 10px;
			margin-bottom: 5px;
			color: #191716;
			content:"※左右にスワイプしてご覧ください";
		}
	}
	// blockスタイルのテーブル
	.c-table_mobile_block{
		display: block;
		width: 100%;
		/*
		thead{
			display: none;
		*/
		tbody{
			display: block;
			tr, th, td{
				display: block;
			}
		}
		// &.c-table_base{
		// 	border-width:0;
		// 	tbody{
		// 		th{
		// 			border-bottom-width:0;
		// 			white-space:normal;
		// 		}
		// 		td {
		// 			border-bottom-width:0;
		// 		}
		// 		tr:last-child td {
		// 			border-bottom-width:1px ;
		// 		}
		// 	}
		// }
	}
	// theadを左に表示しtbodyはスクロールするテーブル
	.c-table_mobile_thead_Left{
		display: block;
		&::after{
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
			color: #f00;
			content:"※左右にスワイプしてご覧ください";
		}
		thead{
			display: block;
			float: left;
			tr{
				display: block;
			}
			th, td{
				display: block;
				width: auto;
			}
		}
		tbody{
			display: block;
			width: auto;
			overflow-x: auto;
			white-space:nowrap;
			tr{
				display: inline-block;
			}
			th, td{
				display: block;
			}
		}
		&.c-table_base{
			border-width:0;
			thead, tbody{
				th, td{
					+ th, + td{
						border-top-width:0;
					}
				}
			}
		}
	}
}

// 縦並びテーブル
// --------------------
.c-table_base--rows {
	tbody{
		tr {
			&:last-child td {
				@include _mq-down(sm) {
					border-bottom:1px solid $border-color;
				}
			}
		}
		th{
			background-color: #4d4d4d;
			border:1px solid $border-color;
			vertical-align: middle;
			color: #fff;
			text-align:center;
			font-weight: normal;
		}
		td{
			background-color: #fff;
			border:1px solid $border-color;
			vertical-align: middle;
		}
	}
}
