/* ---------------------------------------------------------
 Component - youtube
--------------------------------------------------------- */
// ---------------------------------------------------------------
// youtube埋め込みレスポンシブ化
//
// << 使用方法 >>
// <div class="c-youtubeContainer">
// 	(youtubeから取得したコード)
// </div>
// ---------------------------------------------------------------
.c-youtube_container{
	width: 685px;
	height: 384px;
	margin: 0 auto;
	@include _mq_down(lg) {
		position: relative;
		width:560px;
		height: 315px;
	}
	@include _mq_down(md) {
		position: relative;
		width: 100% !important;
		height: 100% !important;
		padding-top: 56.0%;
	}
	iframe{
		width: 100%;
		height: 100%;
		@include _mq_down(lg) {
			position: absolute;
			top: 0;
			right: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
}
